body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Abel', sans-serif !important; }
  body:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 38, 0.9); }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp; }

.body_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: block;
  overflow: hidden; }
  .body_wrapper .nav_left {
    position: fixed;
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1250px) {
      .body_wrapper .nav_left {
        width: 75px; } }
    @media screen and (max-width: 850px) {
      .body_wrapper .nav_left {
        top: 15px;
        left: 25px;
        width: 300px;
        height: 50px;
        z-index: 50; } }
    @media screen and (max-width: 650px) {
      .body_wrapper .nav_left {
        width: 100%;
        left: 0; } }
    @media screen and (max-height: 540px) {
      .body_wrapper .nav_left {
        width: 100%;
        left: 0;
        top: 0; } }
    .body_wrapper .nav_left .nav_left_flex {
      width: 100%;
      height: auto;
      display: table;
      text-align: center; }
      .body_wrapper .nav_left .nav_left_flex .nav_inner_section {
        width: 40px;
        height: auto;
        display: inline-block; }
        @media screen and (max-width: 850px) {
          .body_wrapper .nav_left .nav_left_flex .nav_inner_section {
            width: 280px;
            height: auto;
            display: inline-block;
            margin: 0; } }
        @media screen and (max-height: 540px) {
          .body_wrapper .nav_left .nav_left_flex .nav_inner_section {
            width: 230px; } }
        .body_wrapper .nav_left .nav_left_flex .nav_inner_section .arrow_up {
          float: left;
          width: 40px;
          height: 40px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 20px;
          display: table;
          cursor: pointer;
          background-image: url("./../../resources/media/top.png"); }
          @media screen and (max-width: 850px) {
            .body_wrapper .nav_left .nav_left_flex .nav_inner_section .arrow_up {
              background-image: url("./../../resources/media/left.png");
              margin-bottom: 0;
              margin-top: 10px;
              filter: brightness(10%) invert(1);
              --webkit-filter: brightness(10%) invert(1); } }
          @media screen and (max-height: 540px) {
            .body_wrapper .nav_left .nav_left_flex .nav_inner_section .arrow_up {
              width: 30px;
              height: 30px;
              margin-top: 7px; } }
        .body_wrapper .nav_left .nav_left_flex .nav_inner_section .section-nav_trigger {
          float: left;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 2px solid #fff;
          margin: 20px 10px;
          cursor: pointer; }
          @media screen and (max-height: 540px) {
            .body_wrapper .nav_left .nav_left_flex .nav_inner_section .section-nav_trigger {
              width: 10px;
              height: 10px;
              margin: 15px 10px; } }
          .body_wrapper .nav_left .nav_left_flex .nav_inner_section .section-nav_trigger._active {
            background-color: #fff; }
        .body_wrapper .nav_left .nav_left_flex .nav_inner_section .arrow_down {
          float: left;
          width: 40px;
          height: 40px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 20px;
          cursor: pointer;
          background-image: url("./../../resources/media/down.png"); }
          @media screen and (max-width: 850px) {
            .body_wrapper .nav_left .nav_left_flex .nav_inner_section .arrow_down {
              background-image: url("./../../resources/media/right.png");
              margin-bottom: 0;
              margin-top: 10px;
              filter: brightness(10%) invert(1);
              --webkit-filter: brightness(10%) invert(1); } }
          @media screen and (max-height: 540px) {
            .body_wrapper .nav_left .nav_left_flex .nav_inner_section .arrow_down {
              width: 30px;
              height: 30px;
              margin-top: 7px; } }
  .body_wrapper .nav_right {
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1250px) {
      .body_wrapper .nav_right {
        width: 75px; } }
    @media screen and (max-width: 1050px) {
      .body_wrapper .nav_right {
        width: 300px;
        height: 40px;
        display: block;
        z-index: 60; } }
    @media screen and (max-width: 650px) {
      .body_wrapper .nav_right {
        width: 100%;
        top: auto;
        right: 0;
        bottom: 50px;
        display: block;
        text-align: center; } }
    @media screen and (max-height: 570px) {
      .body_wrapper .nav_right {
        bottom: 20px; } }
    .body_wrapper .nav_right .nav_inner_section {
      width: auto;
      height: auto;
      display: inline-block; }
      .body_wrapper .nav_right .nav_inner_section .each_nav_trigger {
        float: left;
        width: 40px;
        height: 40px;
        margin: 20px 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; }
        @media screen and (max-height: 570px) {
          .body_wrapper .nav_right .nav_inner_section .each_nav_trigger {
            width: 30px;
            height: 30px;
            margin: 20px 10px; } }
        .body_wrapper .nav_right .nav_inner_section .each_nav_trigger.white {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }
  .body_wrapper .main_container {
    width: calc(100% - 300px);
    max-width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    margin: auto;
    position: relative; }
    @media screen and (max-width: 1250px) {
      .body_wrapper .main_container {
        width: calc(100% - 200px); } }
    @media screen and (max-width: 1050px) {
      .body_wrapper .main_container {
        width: calc(100% - 100px);
        float: right;
        margin-right: 15px; } }
    @media screen and (max-width: 850px) {
      .body_wrapper .main_container {
        width: calc(100% - 50px);
        float: none;
        margin: auto; } }
    .body_wrapper .main_container .inner_wrapper {
      width: 100%;
      height: 430px;
      display: inline-block;
      box-sizing: border-box;
      position: relative; }
      @media screen and (max-width: 650px) {
        .body_wrapper .main_container .inner_wrapper {
          height: 400px; } }
      @media screen and (max-height: 480px) {
        .body_wrapper .main_container .inner_wrapper {
          height: 350px; } }
      .body_wrapper .main_container .inner_wrapper .eachSection {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        border-radius: 2px;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        display: none;
        overflow: hidden; }
        .body_wrapper .main_container .inner_wrapper .eachSection .cover_image {
          float: left;
          width: 260px;
          height: 110%;
          display: table;
          transform: rotate(8deg);
          margin-left: -35px;
          margin-top: -30px;
          position: relative;
          background-color: black;
          overflow: hidden; }
          @media screen and (max-width: 850px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .cover_image {
              margin-left: -75px; } }
          @media screen and (max-width: 550px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .cover_image {
              margin-left: -130px; } }
          @media screen and (max-width: 470px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .cover_image {
              display: none; } }
          .body_wrapper .main_container .inner_wrapper .eachSection .cover_image .inner_section {
            float: left;
            display: table;
            width: 120%;
            height: 100%;
            transform: rotate(-8deg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; }
        .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
          width: calc(100% - 250px);
          height: 100%;
          display: table;
          box-sizing: border-box;
          padding: 30px;
          float: right;
          position: relative; }
          @media screen and (max-width: 850px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
              width: calc(100% - 200px); } }
          @media screen and (max-width: 800px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
              width: calc(100% - 200px); } }
          @media screen and (max-width: 550px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
              width: calc(100% - 150px); } }
          @media screen and (max-width: 470px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
              width: 100%; } }
          @media screen and (max-height: 480px) {
            .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
              padding: 0 30px; } }
        .body_wrapper .main_container .inner_wrapper .eachSection._active {
          display: block; }
        .body_wrapper .main_container .inner_wrapper .eachSection._out {
          display: block; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_1 {
          z-index: 1; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info {
            width: 100%;
            height: auto;
            display: table;
            margin-top: 40px; }
            @media screen and (max-width: 650px) {
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info {
                margin-top: 10px; } }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info {
              width: 32%;
              height: auto;
              display: table;
              float: left; }
              @media screen and (max-width: 850px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info {
                  width: 50%;
                  margin-top: 10px; } }
              @media screen and (max-width: 650px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info {
                  width: 100%;
                  margin-top: 0; } }
              @media screen and (max-width: 470px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info {
                  width: 50%; } }
              @media screen and (max-width: 400px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info {
                  width: 100%;
                  margin-top: 7px; } }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .heading {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
                color: rgba(0, 0, 0, 0.8); }
                @media screen and (max-width: 850px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .heading {
                    margin-bottom: 0; } }
                @media screen and (max-width: 800px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .heading {
                    font-size: 15px; } }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .slogan {
                color: #8F8F8F;
                font-size: 16px;
                margin: 3px 0; }
                @media screen and (max-width: 850px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .slogan {
                    margin: 1.5px 0; } }
                @media screen and (max-width: 800px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .slogan {
                    font-size: 14px; } }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .cover_latter {
            width: 100%;
            height: auto;
            display: table;
            margin-top: 60px;
            color: #8F8F8F;
            font-size: 18px; }
            @media screen and (max-width: 850px) {
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .cover_latter {
                margin-top: 40px; } }
            @media screen and (max-width: 800px) {
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .cover_latter {
                font-size: 15px; } }
            @media screen and (max-width: 650px) {
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .cover_latter {
                font-size: 14px;
                margin-top: 10px; } }
            @media screen and (max-height: 480px) {
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .cover_latter {
                font-size: 12px; } }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_2 {
          z-index: 2; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_2 .experience_list {
            width: 100%;
            height: 100%;
            display: table;
            box-sizing: border-box;
            padding: 40px 0; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_2 .experience_list .each_exprience {
              width: 49%;
              height: auto;
              display: table;
              float: left;
              margin-bottom: 30px; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_2 .experience_list .each_exprience .comapny_name {
                font-size: 20px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.8); }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_2 .experience_list .each_exprience .position {
                font-size: 16px;
                color: #8F8F8F; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_2 .experience_list .each_exprience .time_line {
                font-size: 16px;
                color: #8F8F8F; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_3 {
          z-index: 3; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises {
            width: 100%;
            height: 100%;
            display: table;
            box-sizing: border-box;
            padding: 20px 0; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise {
              width: 49%;
              height: auto;
              display: block;
              float: left;
              margin: 20px 0.5%; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .persentase {
                font-size: 25px;
                font-weight: 600; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .skill_title {
                font-size: 18px;
                margin-top: 3px;
                color: #8F8F8F; }
                @media screen and (max-width: 700px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .skill_title.sm {
                    font-size: 12px;
                    line-height: 20px; } }
                @media screen and (max-width: 620px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .skill_title.sm {
                    display: none; } }
                .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .skill_title.mobile {
                  display: none; }
                  @media screen and (max-width: 620px) {
                    .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .skill_title.mobile {
                      display: block; } }
                @media screen and (max-width: 860px) {
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .skill_title {
                    font-size: 15px; } }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track {
                float: left;
                width: 100%;
                height: 3px;
                background-color: #6f6f6f;
                position: relative;
                margin-top: 10px; }
                .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  background-color: #000; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner.html {
                    width: 98%; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner.JS {
                    width: 95%; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner.Vue {
                    width: 95%; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner.PHP {
                    width: 80%; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner.SCSS {
                    width: 98%; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner.JQ {
                    width: 93%; }
                  .body_wrapper .main_container .inner_wrapper .eachSection.section_3 .skill_expertises .each_expertise .preview_track .track_inner:after {
                    content: '';
                    background-color: #000;
                    position: absolute;
                    right: -3px;
                    top: -5px;
                    border: 1px solid #000;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_4 {
          z-index: 4; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper {
            width: 100%;
            height: auto;
            display: table;
            text-align: center; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project {
              width: 30%;
              height: 150px;
              margin: 5px 5px 10px 5px;
              display: inline-block;
              position: relative;
              background-color: #dfdfdf;
              overflow: hidden;
              box-sizing: border-box;
              cursor: pointer;
              border: 1px solid #dfdfdf; }
              @media screen and (max-width: 700px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project {
                  width: 45%;
                  height: 100px; } }
              @media screen and (max-width: 500px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project {
                  width: 30%;
                  height: 100px; } }
              @media screen and (max-width: 450px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project {
                  width: 45%;
                  height: 100px; } }
              @media screen and (max-width: 350px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project {
                  width: 40%;
                  height: 100px; } }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project .preview {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 230%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                transition-duration: 1.4s; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project .title {
                position: absolute;
                left: 5px;
                bottom: 5px;
                font-size: 14px;
                color: #fff;
                letter-spacing: 0.7px;
                z-index: 2;
                opacity: 0;
                transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
                background-color: rgba(29, 27, 38, 0.8);
                opacity: 0;
                transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project:hover .preview {
                top: -130%;
                transition-duration: 1.4s; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project:hover .title {
                opacity: 1;
                transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .each_project:hover:after {
                opacity: 1;
                transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .trigger_btn {
              position: absolute;
              right: 15px;
              bottom: 15px;
              text-decoration: none;
              color: #fff;
              background-color: #222;
              padding: 5px 10px;
              border-radius: 4px;
              font-size: 14px;
              cursor: pointer; }
              @media screen and (max-width: 700px) {
                .body_wrapper .main_container .inner_wrapper .eachSection.section_4 .section_inner_content .projects_wrapper .trigger_btn {
                  bottom: 30px; } }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_5 {
          z-index: 5; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from {
            width: 100%;
            height: auto;
            display: table;
            box-sizing: border-box;
            padding: 0 20px; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from .form-group {
              width: 100%;
              height: auto;
              display: table;
              margin-top: 10px; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from .form-group label {
                font-weight: 600;
                color: #545454;
                line-height: 20px; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from .form-group .form-control {
                width: 100%;
                border: 1px solid #dfdfdf;
                padding: 3px 10px;
                box-sizing: border-box;
                border-radius: 3px;
                font-weight: 600;
                letter-spacing: 0.3px; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from .form-group input {
                height: 40px; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from .form-group textarea {
                resize: vertical;
                padding: 10px !important;
                height: 100px;
                max-height: 140px; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_5 .contact_from .action_btn {
              margin-top: 15px;
              width: 100%;
              height: 38px;
              font-size: 18px;
              text-align: center;
              color: #fff;
              background-color: #222;
              border: 1px solid #222;
              border-radius: 4px;
              cursor: pointer; }

/*# sourceMappingURL=style.css.map */
