body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Abel', sans-serif !important; }
  body:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 38, 0.9); }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp; }

.body_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: block;
  overflow: hidden; }
  .body_wrapper .nav_left {
    position: fixed;
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    text-align: center; }
    .body_wrapper .nav_left .nav_inner_section {
      width: 50px;
      height: calc(100% - 130px);
      display: inline-block;
      margin-top: 130px; }
      .body_wrapper .nav_left .nav_inner_section .arrow_up {
        float: left;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
        display: table;
        cursor: pointer; }
      .body_wrapper .nav_left .nav_inner_section .section-nav_trigger {
        float: left;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 5px solid #fff;
        margin: 20px 10px;
        cursor: pointer; }
        .body_wrapper .nav_left .nav_inner_section .section-nav_trigger._active {
          background-color: #fff; }
      .body_wrapper .nav_left .nav_inner_section .arrow_down {
        float: left;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
        cursor: pointer; }
  .body_wrapper .nav_right {
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center; }
    .body_wrapper .nav_right .nav_inner_section {
      width: auto;
      height: auto;
      display: inline-block; }
      .body_wrapper .nav_right .nav_inner_section .each_nav_trigger {
        float: left;
        width: 40px;
        height: 40px;
        margin: 20px 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer; }
        .body_wrapper .nav_right .nav_inner_section .each_nav_trigger.white {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }
  .body_wrapper .main_container {
    width: calc(100% - 400px);
    max-width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    margin: auto; }
    .body_wrapper .main_container .inner_wrapper {
      width: 100%;
      height: 430px;
      display: inline-block;
      box-sizing: border-box;
      position: relative; }
      .body_wrapper .main_container .inner_wrapper .eachSection {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        border-radius: 2px;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        display: none;
        overflow: hidden; }
        .body_wrapper .main_container .inner_wrapper .eachSection .cover_image {
          float: left;
          width: 250px;
          height: 100%;
          display: table;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat; }
        .body_wrapper .main_container .inner_wrapper .eachSection .section_inner_content {
          width: calc(100% - 250px);
          height: 100%;
          display: table;
          box-sizing: border-box;
          padding: 30px;
          float: right; }
        .body_wrapper .main_container .inner_wrapper .eachSection._active {
          display: block; }
        .body_wrapper .main_container .inner_wrapper .eachSection._out {
          display: block; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_1 {
          z-index: 1; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info {
            width: 100%;
            height: auto;
            display: table;
            margin-top: 40px; }
            .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info {
              width: 32%;
              height: auto;
              display: table;
              float: left; }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .heading {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
                color: rgba(0, 0, 0, 0.8); }
              .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .basic_info .info .slogan {
                color: #8F8F8F;
                font-size: 16px;
                margin: 3px 0; }
          .body_wrapper .main_container .inner_wrapper .eachSection.section_1 .section_inner_content .cover_latter {
            width: 100%;
            height: auto;
            display: table;
            margin-top: 60px;
            color: #8F8F8F;
            font-size: 18px; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_2 {
          z-index: 2; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_3 {
          z-index: 3; }
        .body_wrapper .main_container .inner_wrapper .eachSection.section_4 {
          z-index: 4; }

/*# sourceMappingURL=style.css.map */
