body {
  margin: 0;
  padding: 0; }

* {
  font-family: 'Raleway', sans-serif !important; }

.input-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #E9EBEE;
  z-index: 2;
  border-right: 1px solid #ddd; }
  .input-area .nav_wrapper {
    border-right: 1px solid #dfdfdf; }
    .input-area .nav_wrapper ul {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      display: block;
      box-sizing: border-box; }
      .input-area .nav_wrapper ul li {
        list-style: none;
        float: left;
        width: 50%;
        height: 40px;
        background-color: #fff; }
        .input-area .nav_wrapper ul li a {
          float: left;
          width: 100%;
          height: 100%;
          line-height: 40px;
          color: #2d2d2d;
          cursor: pointer;
          display: table;
          text-align: center;
          text-decoration: none; }
          .input-area .nav_wrapper ul li a.active {
            background-color: #2d2d2d;
            color: #fff; }
  .input-area .demo-form {
    margin: 25vh auto 0 auto;
    width: 400px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box; }
    .input-area .demo-form .form_title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700; }
    .input-area .demo-form .input-group {
      margin-bottom: 15px;
      box-sizing: border-box; }
      .input-area .demo-form .input-group input {
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        padding: 5px 10px;
        border: 1px solid #dfdfdf; }
    .input-area .demo-form .button-group input {
      width: 100%;
      height: 35px;
      border: none;
      color: #fff;
      background-color: #222;
      cursor: pointer; }

.result-area {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  z-index: 1; }
  .result-area .preview_box {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #2d2d2d;
    padding: 50px;
    box-sizing: border-box;
    overflow: auto; }
    .result-area .preview_box .section_title {
      font-size: 20px;
      color: #fff;
      text-align: left; }
    .result-area .preview_box .inner_preview {
      width: 100%;
      height: 100%;
      display: table;
      text-align: left;
      color: #fff;
      font-size: 13px; }
  .result-area .get_result {
    margin-top: 50px;
    width: 100%;
    height: 40vh; }
    .result-area .get_result .area-title {
      font-size: 20px;
      margin-bottom: 20px; }
  .result-area .post_result {
    margin-top: 20px;
    width: 100%;
    height: 40vh; }
    .result-area .post_result .area-title {
      font-size: 20px;
      margin-bottom: 20px; }

.json-key {
  color: #ff2d3e; }

.json-value {
  color: #adaa0b; }

.json-string {
  color: #45ff22; }

/*# sourceMappingURL=style.css.map */
