body{
  margin: 0;
  padding: 0;
}
//.border{
//  margin-top: 100px;
//  width: 100%;
//  height: 200px;
//  background-color: #1b6d85;
//  .left_curve{
//    width: 0;
//    height: 0;
//    border-top: 100px solid #4cae4c;
//    border-left: 100px solid #e4b9b9;
//    border-right: 100px solid #8c8c8c;
//    border-bottom: 100px solid #31b0d5;
//    transform: rotate(10deg);
//  }
//}

.dividerUp{
  width: 0;
  height: 0;
  //border-top: 0 solid #4cae4c;
  border-left: 341px solid transparent;
  border-right: 1025px solid transparent;
  border-bottom: 123px solid #31b0d5;
  transition-duration: .3s;
}
.dividerDown{
  width: 0;
  height: 0;
  border-top: 123px solid #4cae4c;
  border-left: 1025px solid transparent;
  border-right: 341px solid transparent;
  transition-duration: .3s;
  //border-bottom: 0 solid #31b0d5;
}


@media only screen and (max-width: 1280px) {
  .dividerDown{
    border-top: 123px solid #4cae4c;
    border-left: 1025px solid transparent;
    border-right: 261px solid transparent;
    transition-duration: .3s;
    //border-bottom: 0 solid #31b0d5;
  }
}
@media only screen and (max-width: 1024px) {
  .dividerDown{
    border-top: 123px solid #4cae4c;
    border-left: 855px solid transparent;
    border-right: 171px solid transparent;
    transition-duration: .3s;
    //border-bottom: 0 solid #31b0d5;
  }
}
@media only screen and (max-width: 800px) {
  .dividerDown{
    border-top: 123px solid #4cae4c;
    border-left: 618px solid transparent;
    border-right: 185px solid transparent;
    transition-duration: .3s;
    //border-bottom: 0 solid #31b0d5;
  }
}
@media only screen and (max-width: 640px) {
  .dividerDown{
    border-top: 95px solid #4cae4c;
    border-left: 517px solid transparent;
    border-right: 124px solid transparent;
    transition-duration: .3s;
    //border-bottom: 0 solid #31b0d5;
  }
}

@media only screen and (max-width: 1280px) {
  .dividerUp{
    //border-top: 0 solid #4cae4c;
    border-left: 341px solid transparent;
    border-right: 947px solid transparent;
    border-bottom: 123px solid #31b0d5;
    transition-duration: .3s;
  }
}
@media only screen and (max-width: 1024px) {
  .dividerUp{
    //border-top: 0 solid #4cae4c;
    border-left: 273px solid transparent;
    border-right: 765px solid transparent;
    border-bottom: 123px solid #31b0d5;
    transition-duration: .3s;
  }
}
@media only screen and (max-width: 800px) {
  .dividerUp{
    //border-top: 0 solid #4cae4c;
    border-left: 236px solid transparent;
    border-right: 571px solid transparent;
    border-bottom: 123px solid #31b0d5;
    transition-duration: .3s;
  }
}
@media only screen and (max-width: 640px) {
  .dividerUp{
    //border-top: 0 solid #4cae4c;
    border-left: 183px solid transparent;
    border-right: 468px solid transparent;
    border-bottom: 123px solid #31b0d5;
    transition-duration: .3s;
  }
}


